#wrappper {
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	width: 80%;
	min-height: 60vh;
	margin-left: 10%;
	margin-right: 10%;	
}

#top_content_wrapper {
	display: flex;
	flex-direction: row;
	justify-content : space-around;
	align-items: center;
	width: 100%;
	min-height: 80%;
}

#text_about {
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	width: 40%;
	
	font-size: 1.2em;
	text-align: center;
	font: italic 1.2em "Lucida Handwriting", cursive;
}

#date {
	text-decoration: underline;
}

#images_about {
	margin: 0px;
	min-height: calc(60vh * 0.8);
	height: 100%;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content : flex-end;
	align-items: center;
	
	background: url(../imgs/about/img_1.jpg);
	background-size : cover;
}

#selectors {
	margin-bottom: 1em;
}

#selectors > input[name^="slider"] {
	 transform:scale(1.5);
	 opacity:0.9;
}

#bottom_content_wrapper {
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 20%;
	
	font: 1.2em Papyrus, fantasy;
}

@media (max-width: 690px) {
	#top_content_wrapper {
		display: flex;
		flex-direction: column;
		justify-content : center;
		align-items: center;
	}
}