h1 {
	font-size: 2em;
	align-self: flex-start;
	margin-left: 1em;
}

.review {
	margin-bottom: 3em;
	width: 50vw;
}

.review_img {
	border-radius: 100px;
	float:left;
	margin: 0.5em;
	width: 10vmax;
	height: 10vmax;
}

.review_name {
	margin: 0px;
	margin-right: 0.2em;
	font-size: 1.5em;
}

.review_date {
	margin: 0px;
	margin-right: 0.2em;
	font-size: 1em;
}

.review_text {
	margin: 0px;
	margin-right: 0.2em;
	margin-left: 1em;
}

.review_hr {
	margin-left: 10vmax;
	width: 30vw;
	color: black;
}

hr {
	color: black;
	width: 40vw;
}

form {
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	width: 40vw;
	border: 1px black solid;
	border-radius: 20px;
	padding: 1vmax;
	margin-bottom: 1em;
}

.criterion {
	display : flex;
	justify-content : space-between;
	align-items: center;
	width: 40vw;
}

form > input[name="name"] {
	width: 40vw;
	border: 1px black solid;
	margin: 1em;
}

form > textarea {
	width: 40vw;
	height: 30vh;
}

#submit_button {
	text-align: center;
	border: 2px gray solid;
	border-radius: 10px;
	padding: 2vmax;
	min-height: 1em;
	margin-top: 0.5em;
}

.star_rating {
	overflow: hidden;
	margin: 0px;
}

.star_rating > input {
	display: none;
}

.star_rating > label {
	font-size: 3em;
	cursor: pointer;
}

.selected {
	color: gold;
}

.active {
	color: orange;
}

@media (min-width: 691px) and (max-width: 960px) 
{
	.review {
		margin: 2em;
		width: 100vw;
	}
	
	.review_text {
		margin-left: calc(10vmax + 1em);
	}
	
	form {
		width: 70vw;
		margin-left: 15vw;
		margin-right: 15vw;
	}
	.criterion {
		width: 50vw;
		margin-left: 15vw;
		margin-right: 15vw;
	}
	
	form > input[name="name"] {
		width: 60vw;
	}

	form > textarea {
		width: 60vw;
		height: 30vh;
	}
	
}

@media (max-width: 690px) {
	.review {
		margin: 2em;
		width: 100vw;
	}
	
	.review_text {
		margin-left: calc(10vmax + 1em);
	}
	
	form {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}
	
	.criterion {
		width: 80vw;
		margin-left: 10vw;
		margin-right: 10vw;
	}
	
	form > input[name="name"] {
		width: 80vw;
	}

	form > textarea {
		width: 80vw;
		height: 30vh;
	}
}


